
<div nz-row>
  <div
    style="text-align: center"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzXl="12"
  >
    <app-ecart-chart-card></app-ecart-chart-card>
  </div>
  <div
    style="text-align: center"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzXl="12"
  >
    <app-bar-chart-card></app-bar-chart-card>
  </div>
  <div
    style="text-align: center"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzXl="12"
  >
  <app-tauxbar-chart-card></app-tauxbar-chart-card>
  </div>
  <div
    style="text-align: center"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzXl="12"
  >
  <app-progressbar-chart-card></app-progressbar-chart-card>
</div>
</div>