
<section id="camembert">
    <h4>Infographie en Camembert</h4>
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle cx="100" cy="100" r="80" fill="none" stroke="#ddd" stroke-width="5" />
        <!-- Segment 1 : 6,5% Orge -->
        <path data-legende="liRouge" class="getClass" d="M100,100 L100,20 A80,80 0 0,1 180,100 Z" fill="#FF5733" />
        <!-- Segment 2  : 15,5% Avoine -->
        <path data-legende="liJaune" class="getClass" d="M100,100 L130,25.7 A80,80 0 0,1 100,180 Z" fill="#FFC300" />
        <!-- Segment 3 : 25% Maïs -->
        <path data-legende="liBleu" class="getClass" d="M100,100 L180,100 A80,80 0 0,1 20,100 Z" fill="#3498DB" />
        <!-- Segment 4 50% Blé -->
        <path data-legende="liVert" class="getClass" d="M100,100 L100,180 A80,80 0 0,1 100,20 Z" fill="#27AE60" />
    </svg>
    <!-- La légende -->
    <ul>
        <li id="liVert"><span id="vert"></span> 50% Blé</li>
        <li id="liBleu"><span id="bleu"></span> 25% Maïs</li>
        <li id="liJaune"><span id="jaune"></span> 18,5% Avoine</li>
        <li id="liRouge"><span id="rouge"></span> 6,5% Orge</li>
    </ul>
</section>