<router-outlet></router-outlet>

<div class="chart-container">
  <app-circprogress
    [innerCircleColor]="'#18222f'"
    [dataSize]="200"
    [dataValue]="75"
    [dataArrow]="'up'">
  </app-circprogress>
  <app-circprogress
    [innerCircleColor]="'#ff0000'"
    [dataSize]="200"
    [dataValue]="50"
    [dataArrow]="'down'">
  </app-circprogress>
  <app-circprogress
    [innerCircleColor]="'#00ff00'"
    [dataSize]="200"
    [dataValue]="90"
    [dataArrow]="'up'">
  </app-circprogress>
</div>

