<app-navbar></app-navbar>

<div class="form-signup my-5" >
    <form>
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      
      
      <div class="form-floating">
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <label for="firstName">First name</label>
        <div class="invalid-feedback">
            Valid first name is required.
          </div>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <label for="firstName">Last name</label>
        <div class="invalid-feedback">
            Valid last name is required.
          </div>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <h1>

      </h1>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    </form>
</div>